@import 'tailwindcss/base';
/* @import "./base.pcss"; */

@import 'tailwindcss/components';
/* @import "./components.pcss"; */

@import 'tailwindcss/utilities';
/* @import "./utilities.pcss"; */

@layer base {
  a {
    @apply text-blue-600 hover:text-blue-800 visited:text-blue-700 transition-colors underline;
  }
  html {
    font-size: 18px;
  }

  @screen md {
    html {
      font-size: 20px;
    }
  }
}
